<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}

        <p>{{screamIt helloMessage}}</p>

        {{> footer}}
    </body>
</html>