<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}
        
        <p>All projects will be here!!</p>

        {{> footer}}
    </body>
</html>